
html {
  height:100%
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

body > div{
  @include flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;

  > div {
    margin: 10px;
  }
}

.app {
  > div {
    .data-board {
      margin-top: 20px;

      span {
        margin: 8px;

        > i {
          text-decoration: underline;
        }
      }
    }
  }
}

@import "bezier-picker";